<div class="search">
	<a class="top-search"><i class="fa fa-search"></i></a>
	<div id="search">
		<div class="inner">
		<input type="text" name="search" value="{{ search }}" placeholder="" />
			<button type="button" class="button-search"><i class="fa fa-search"></i></button>
		</div>
		<div class="clear"></div>
	</div>
</div>