<nav id="top-links-sett" class="nav-setting toggle-wrap">
	<a href="#" class="toggle"><i class="material-design-settings49"></i><span class="material-design-drop25">{{ text_setting }}</span></a>
	<ul class="toggle_cont toggle_cont__right">
		<li>{{ currency }}</li>
		<li>{{ language }}</li>
	</ul>
</nav>