<h4 class="box-heading">{{ text_service }}</h4>
<ul class="box-content list-unstyled">
	{% if simple_blog_found %}
		<li><a href="{{ simple_blog }}">{{ simple_blog_footer_heading }}</a></li>			
	{% endif %}
</ul>